// slick
.slick-carousel{
  position:relative;
  margin-left:-($theme-margin / 2);
  margin-right:-($theme-margin / 2);
  .slick-arrow{
    background:#fff;
    padding:0;
    @include size(30px,30px);
    @include border-radius(50px);
    line-height: 30px;
    display: inline-block;
    text-align: center;
    font-size: 12px;
    color: $theme-color;
    @include transition(all 0.2s ease-in-out 0s);
    position:absolute;
    top: 50%;
    @include translateY(-50%);
    z-index: 3;
    border:none;
    .textnav{
      display: none;
    }
    &:hover,&:active,&:focus{
      color: #fff !important;
      background:$theme-color;
    }
  }
  &.pagination_white{
    .slick-dots{
      li{
        border-color:#fff !important;
        &.slick-active {
          button{
            background:#fff !important;
          }
        }
      }
    }
  }
  .slick-prev{
    left:10px;
    @media(min-width: 768px){
      left:0;
    }
  }
  .slick-next{
    right:10px;
    @media(min-width: 768px){
      right:0;
    }
  }
  .slick-slide{
    outline: none !important;
  }
  .slick-track{
    margin: inherit;
  }
  .slick-slide{
    padding-left:$theme-margin / 2;
    padding-right:$theme-margin / 2;
  }
  // dots
  .slick-dots{
    margin:0 !important;
    padding: 0;
    line-height:1;
    text-align: center;
    list-style: none;
    li{
      display: inline-block;
      margin:0 5px;
      @include size(20px,20px);
      @include border-radius(50%);
      position:relative;
      background:rgba(84, 96, 117,0.1);
      button {
        position:absolute;
        top:50%;
        left:50%;
        @include translate(-50%,-50%);
        display: inline-block;
        text-indent: -9999em;
        @include size(6px,6px);
        padding:0;
        background:rgba(0,0,0,0.25);
        border:none;
        @include border-radius(50%);
        @include transition(all 0.2s ease-in-out 0s);
      }
      &.slick-active {
        background:rgba(255, 67, 30,0.1);
        button{
          background:rgba(#ff431e,0.75);
        }
      }
    }
  }
}
.text-red{
  color:red !important;
}
// wiget testimonials
.testimonials-item{
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  .name-client{
    font-size: 23px;
    margin:0 0 5px;
  }
  .description{
    margin-top: 10px;
    @media(min-width: 768px){
      font-size: 18px;
    }
    font-style: italic;
    font-family: 'Lora', serif;
    text-transform: capitalize;
  }
  .avarta{
    border: 6px solid #ebedf1;
    @include size(100px,100px);
    @include border-radius(50%);
    overflow: hidden;
    display: inline-block;
    @include border-radius(50px);
  }
  &.style1{
    .name-client{
      font-size: 20px;
    }
    .description{
      margin-bottom: 10px;
    }
  }
}
.widget-testimonials{
  .slick-carousel .slick-arrow{
    @include box-shadow(0 2px 10px 0 #d8dde6);
  }
}
.widget-testimonials.style1{
  .slick-carousel .slick-arrow{
    @include box-shadow(none);
  }
}
.elementor-icon-box-wrapper{
  .elementor-icon-box-title{
    margin-top: 0;
  }
}
// widget counter
.counter-icon{
  font-size: 30px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background: #fff;
  color: $theme-color;
  @media(min-width: 1200px){
    font-size: 40px;
    width: 80px;
    height: 80px;
    line-height: 82px;
  }
  @include border-radius(50%);
  display: inline-block;
  overflow: hidden;
}
.elementor-counter-icon{
  line-height: 0;
  margin-bottom: 12px;
}
.elementor-counter .elementor-counter-number-wrapper{
  line-height: 1.3;
  word-spacing: -5px;
  display: block;
}

// tab lists
.tabs-v1{
  .nav-tabs{
    border-bottom: 1px solid $border-color;
    margin:0 0 15px;
    @media(min-width: 1200px){
      margin:0 0 22px;
    }
    li{
      margin-bottom:-1px;
      float:none;
      display:inline-block;
      @include rtl-margin-right(15px);
      @media(min-width: 1200px){
        @include rtl-margin-right(60px);
      }
      > a{
        background:transparent !important;
        font-size: 20px;
        font-weight: 400;
        color: $link-color;
        font-family: $font-family-second;
        text-transform: capitalize;
        padding:0 0 10px;
        border-width:0 0 2px !important;
        margin: 0;
        border-style:solid;
        display: inline-block;
        border-color:transparent;
        @include transition(all 0.3s ease 0s);
        @include opacity(0.6);
      }
      &:focus,
      &:hover,
      &.active{
        > a:focus,
        > a:hover,
        > a{
          @include opacity(1);
          color: $link-color;
          border-color:$theme-color;
        }
      }
    }
  }
  h2{
    margin:0 0 ($theme-margin / 2);
    font-size:28px;
    font-weight: 600;
    margin: 0 0 30px !important;
    text-align: uppercase;
  }
  p:last-child{
    margin-bottom: 0;
  }
}
.nav.tabs-product1{
  text-align: center;
  padding: 20px 0;
  > li{
    display: inline-block;
    line-height: 1;
    float: none;
    @include rtl-border-right(1px solid $text-color);
    &:last-child{
      border:none;
    }
    > a{
      font-family: $headings-font-family;
      font-size: 12px;
      text-transform: uppercase;
      color: $text-color;
      padding: 0 10px;
      background: transparent;
    }
    &.active,
    &:hover{
      > a{
        color: $theme-color;
        background: transparent;
      }
    }
  }
}
.nav.tabs-product-light{
  > li{
    border-color: #fff;
    > a{
      color: #fff;
    }
    &.active,
    &:hover{
      > a{
        color:$theme-color-second;
        background: transparent;
      }
    }
  }
}
// widget-social
.widget-social{
  .social{
    margin:0;
    padding: 0;
    > li{
      padding:0;
      @include rtl-margin-right(10px);
      @media(min-width:1200px){
        @include rtl-margin-right(20px);
      }
      &:last-child{
        margin:0;
      }
      a{
        @include transition(all 0.3s ease-in-out 0s);
        font-size:16px;
        color:$text-color;
        background:transparent !important;
        &:hover,&:active{
          color:$theme-color;
        }
      }
    }
  }
}
.widget-nav-menu{
  li{
    margin-bottom: 10px;
    &:last-child{
      margin-bottom: 0;
    }
    &.active{
      > a{
        color: $theme-color;
      }
    }
    a{
      i{
        @include rtl-margin-right(10px);
      }
    }
  }
}
// newsletter
.widget-mailchimp{
  position:relative;
  [type="submit"]{
    padding-left: 12px;
    padding-right: 12px;
    height: $input-height-base;
    border:0;
  }
  .form-control{
    border:0;
    font-size: inherit;
    @include box-shadow(none);
  }
  form .mc4wp-form-fields{
    padding:3px;
    border:2px solid #394863;
    @include border-radius(2px);
  }
  .mc4wp-response{
    margin-top: 5px;
  }
}
// widget feature box
.widget-features-box {
  .slick-dots{
    padding-top:10px;
  }
}
.widget-features-box{
  .title{
    font-size: 20px;
    margin: 18px 0 8px;
  }
  .description{
    font-size:15px;
    text-transform: capitalize;
  }
  .features-box-image {
    @include size(80px,80px);
    line-height: 80px;
    @include border-radius(50%);
    overflow: hidden;
    text-align: center;
    display: block;
    margin:auto;
    color: #fff;
    background: $theme-color;
    font-size: 28px;
    @include transition(all 0.3s ease-in-out 0s);
  }
  .item-inner{
    padding-top: 10px;
    &:hover{
      .features-box-image{
        @include box-shadow(0 4px 10px 0 rgba(0,0,0,0.3));
        @include translateY(-10px);
      }
    }
  }
}
.apus-comments-form{
  .form-control{
    background:transparent !important;
    border-width:0 0 1px;
    @include border-radius(0);
    padding:15px 0;
    font-size:14px;
    margin-bottom:10px;
    &:focus{
      border-width:0 0 2px;
    }
  }
  textarea.form-control{
    height:130px;
    margin-bottom:30px;
  }
  margin:auto;
  max-width:620px;
}

// widget localtion
.widget-location{
  .media-heading{
    font-size: 17px;
    font-weight: 500;
    margin: 0 0 5px;
  }
  .media-left{
    font-size: 22px;
    min-width: 45px;
  }
  .media{
    font-size: 15px;
    margin: 0 0 25px;
  }
}
.location{
  .item{
    margin-bottom:10px;
    &:last-child{
      margin-bottom:0;
    }
    i{
      @include rtl-padding-right(10px);
    }
  }
}

// contactform
.wpcf7{
  .form-control{
    margin-bottom: 15px;
    background: #fbfdff;
    &:focus{
      border-color: $theme-color;
    }
  }
  textarea.form-control{
    height: 120px;
    resize:none;
  }
  [type="submit"]{
    text-transform: uppercase;
    padding:10px 20px;
  }
}

@media(min-width:992px){
  .top-100 {
    margin-top: -100px;
  }
  .overflow-visible{
    overflow:visible !important;
  }
  .top-220 {
    margin-top: -120px;
  }
}
@media(min-width:1200px){
  .left-60{
    padding-left:60px;
  }
  .right-60{
    padding-right:60px;
  }
  .top-220 {
    margin-top: -220px;
  }
}

.no-space{
  margin:0 !important;
  >.apus-container{
    > .vc_fluid{
      padding:0;
    }
  }
  .row{
    margin:0;
    > [class *= "col"]{
      padding: 0;
    }
  }
}
.radius-3x{
  @include border-radius(3px !important);
}
.visible-table{
  display: table;
  width: 100%;
  > *{
    float:none !important;
    display: table-cell;
    vertical-align: middle;
  }
}
.weight-500{
  font-weight: 500 !important;
}
.font-14{
  font-size: 14px !important;
}
.font-size-16{
  font-size: 16px !important;
}
.font-size-28{
  margin:0 !important;
  font-size: 24px !important;
  @media(min-width: 1200px){
    font-size: 28px !important;
  }
}
.font-size-36{
  font-size: 36px !important;
}
.font-size-30{
  font-size: 30px !important;
}
.wrapper-visible{
  overflow:visible !important;
}
.space-bottom-10{
  margin-bottom:10px !important;
}
.space-bottom-15{
  margin-bottom:15px !important;
}
.space-bottom-25{
  margin-bottom:25px !important;
}
.space-bottom-20{
  margin-bottom:20px !important;
}
.space-bottom-30{
  margin-bottom:30px !important;
}
.space-bottom-50{
  margin-bottom:50px !important;
}
.space-padding-35{
    padding:35px 0 !important;
}
.p-relative{
  position: relative !important;
  z-index: 0;
}
.p-absolute{
  position: absolute !important;
  top:0;
  left: 0;
  z-index: 99;
  width: 100%;
}
.p-static{
  position: static !important;
}
.tt-highlight,
.text-theme{
  color: $theme-color !important;
}
.text-left{
  @include rtl-text-align-left();
}
.text-right{
  @include rtl-text-align-right();
}
.text-second{
  color: $theme-color-second;
}
.bg-theme{
  background: $theme-color !important;
}
.bg-green{
  background:#82b440 !important;
}
.bg-red{
  background:#e72c3a !important;
}
.border-theme{
  border-color: $theme-color;
}
.top-30{
  position:relative;
  > div{
    position:absolute;
    left: 0;
    width: 100%;
    z-index: 9;
    bottom:30px;
  }
}
.flex{
    display: -webkit-flex; /* Safari */
    display: flex;
    .ali-right{
      @include rtl-margin-left(auto);
      @include rtl-text-align-right();
    }
    .ali-left{
      @include rtl-margin-right(auto);
      @include rtl-text-align-left();
    }
}
@media(min-width: 768px){
  .flex-sm{
    display: -webkit-flex; /* Safari */
    display: flex;
    .ali-right{
      @include rtl-margin-left(auto);
      @include rtl-text-align-right();
    }
    .ali-left{
      @include rtl-margin-right(auto);
      @include rtl-text-align-left();
    }
  }
  .justify-content-end-sm{
    -webkit-box-pack: end !important;
    -ms-flex-pack: end !important;
    justify-content: flex-end !important;
  }
  .justify-content-end-sm {
    -webkit-box-pack: end !important;
    -ms-flex-pack: end !important;
    justify-content: flex-end !important;
  }
}
@media(min-width: 768px) and (max-width: 991px){
  .flex-bottom-in-sm{
    display: -webkit-flex; /* Safari */
    -webkit-align-items: flex-end; /* Safari 7.0+ */
    display: flex;
    align-items: flex-end;
  }
}

.flex-column {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -webkit-webkit-direction: normal !important;
    -ms-flex-direction: column !important;
    -webkit-flex-direction: column !important;
    flex-direction: column !important;
}
.align-items-end {
    -webkit-box-align: end !important;
    -ms-flex-align: end !important;
    align-items: flex-end !important;
}
.align-items-start {
    -webkit-box-align: start !important;
    -ms-flex-align: start !important;
    align-items: flex-start !important;
}
.justify-content-center{
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
}
.justify-content-between {
    -webkit-box-pack: justify !important;
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
}
.justify-content-end {
    -webkit-box-pack: end !important;
    -ms-flex-pack: end !important;
    justify-content: flex-end !important;
}
.flex-middle{
    display: -webkit-flex; /* Safari */
    -webkit-align-items: center; /* Safari 7.0+ */
    display: flex;
    align-items: center;
    .ali-right{
      @include rtl-margin-left(auto);
    }
    .ali-left{
      @include rtl-margin-right(auto);
    }
}
.flex-bottom{
    display: -webkit-flex; /* Safari */
    -webkit-align-items: flex-end; /* Safari 7.0+ */
    display: flex;
    align-items: flex-end;
    .ali-right{
      @include rtl-margin-left(auto);
    }
    .ali-left{
      @include rtl-margin-right(auto);
    }
}
.flex-end{
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
}
.flex-top{
    display: -webkit-flex; /* Safari */
    -webkit-align-items: flex-start; /* Safari 7.0+ */
    display: flex;
    align-items: flex-start;
    .ali-right{
      @include rtl-margin-left(auto);
    }
    .ali-left{
      @include rtl-margin-right(auto);
    }
}
@media(min-width: 1200px){
  .flex-end-lg{
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
  }
  .flex-top-lg{
      display: -webkit-flex; /* Safari */
      -webkit-align-items: flex-start; /* Safari 7.0+ */
      display: flex;
      align-items: flex-start;
      .ali-right{
        @include rtl-margin-left(auto);
      }
      .ali-left{
        @include rtl-margin-right(auto);
      }
  }
  .flex-middle-lg{
      display: -webkit-flex; /* Safari */
      -webkit-align-items: center; /* Safari 7.0+ */
      display: flex;
      align-items: center;
      .ali-right{
        @include rtl-margin-left(auto);
      }
      .ali-left{
        @include rtl-margin-right(auto);
      }
  }
}
@media(min-width: 992px){
  .flex-middle-md{
      display: -webkit-flex; /* Safari */
      -webkit-align-items: center; /* Safari 7.0+ */
      display: flex;
      align-items: center;
      .ali-right{
        @include rtl-margin-left(auto);
      }
      .ali-left{
        @include rtl-margin-right(auto);
      }
  }
}
@media(min-width: 768px){
  .flex-middle-sm{
      display: -webkit-flex; /* Safari */
      -webkit-align-items: center; /* Safari 7.0+ */
      display: flex;
      align-items: center;
      .ali-right{
        @include rtl-margin-left(auto);
      }
      .ali-left{
        @include rtl-margin-right(auto);
      }
  }
  .flex-bottom-sm{
      display: -webkit-flex; /* Safari */
      -webkit-align-items: flex-end; /* Safari 7.0+ */
      display: flex;
      align-items: flex-end;
      .ali-right{
        @include rtl-margin-left(auto);
      }
      .ali-left{
        @include rtl-margin-right(auto);
      }
  }
}
// overide button
@media(min-width: 1200px){
  .elementor-button{
    .elementor-button-content-wrapper{
      align-items: center;
      -webkit-align-items: center;
    }
    .elementor-button-icon{
      i{
        font-size: 32px;
      }
    }
  }
}
.elementor-widget .elementor-icon-list-items{
  list-style:none;
  padding:0;
  margin:0;
  li{
    margin-bottom: 15px;
    &:last-child{
      margin-bottom: 0;
    }
    .elementor-icon-list-icon{
      @include rtl-margin-right(7px);
    }
  }
}
.login-account{
  list-style:none;
  padding:0;
  margin:0;
  @media(min-width: 1200px){
    font-size: 15px;
  }
  &,a{
    @include transition(all 0.3s ease-in-out 0s);
  }
  li{
    display: inline-block;
    vertical-align: middle;
  }
  .icon-log{
    @include rtl-margin-right(3px);
  }
}
// when login
.profile-menus{
    .profile-avarta{
        @include rtl-float-left();
        max-width: 40px;
        @include rtl-padding-right(5px);
        img{
            @include border-radius(50%);
        }
    }
    .profile-info{
      overflow: hidden;
      white-space: nowrap;
      .drop-icon{
        @include rtl-margin-left(3px);
        font-size: 12px;
      }
    }
    .show-down{
      @include rtl-margin-left(2px);
    }
}
.list-line{
    list-style: none;
    padding:0;
    margin:0;
    li{
        a{
            padding:10px 0;
            width:100%;
            display: inline-block;
        }
        border-bottom: 1px solid $border-color;
        &:first-child a{
            padding-top:0;
        }
    }
}
.user-log{
    list-style: none;
    padding:0;
    margin:0;
    .last a{
        padding-top:12px;
        width:100%;
        display: inline-block;
    }
}
.user-account{
  a{
    i{
        display: inline-block;
        @include rtl-margin-right(8px);
    }
  }
}
.setting-account{
    position:relative;
    display: inline-block;
    &:before{
        content:'';
        position:absolute;
        @include size(100%,15px);
        top:100%;
        left:0;
        background:transparent;
    }
    .user-account{
        position:absolute;
        top:calc(100% + 15px);
        @include rtl-right(-10px);
        list-style:none;
        padding:15px 20px;
        min-width:200px;
        margin:0;
        background:#fff;
        @include translateY(20px);
        @include transition(all 0.2s ease-in-out 0s);
        visibility:hidden;
        @include opacity(0);
        @include border-radius(4px);
        z-index: 2;
        @include box-shadow(0px 0px 15px 1px rgba(113, 106, 202, 0.2));
    }
    &:hover{
      .user-account{
        visibility:visible;
        @include translateY(0px);
        @include opacity(1);
      }
    }
}